Checks: >
    "bugprone-*",
    "cert-*",
    "clang-analyzer-*",
    "performance-*",
    "-bugprone-easily-swappable-parameters",
    "-bugprone-reserved-identifier",
    "-performance-no-int-to-ptr"
